In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('Mercedes.csv',usecols=['X1','X2','X3','X4','X5','X6'])

In [5]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [7]:
data.columns

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6'], dtype='object')

In [12]:
data=pd.read_csv('Mercedes.csv',usecols=['X1','X2','X3','X4','X5','X6'])
for i in data.columns:
    print("the unique values in column {} is {} ".format(i,len(data[i].unique())))

the unique values in column X1 is 27
the unique values in column X2 is 44
the unique values in column X3 is 7
the unique values in column X4 is 4
the unique values in column X5 is 29
the unique values in column X6 is 12

In [27]:
#to find top 10 categories in one column names X2

data=pd.read_csv('Mercedes.csv',usecols=['X1','X2','X3','X4','X5','X6'])
data.X2.value_counts().sort_values(ascending=False).head(10).index

Index(['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e'], dtype='object')

In [21]:
data.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

In [24]:
#Lets make a list with the most frequent categories of a variable

data=pd.read_csv('Mercedes.csv',usecols=['X1','X2','X3','X4','X5','X6'])
top_10=[x for x in data.X2.value_counts().sort_values(ascending= False).head(10).index]
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [26]:
#now make them the 10 binary variables

for label in top_10:
    data[label]=np.where(data['X2']==label,1,0)
    
data[['X2']+ top_10].head(40)

    X2  as  ae  ai  m  ak  r  n  s  f  e
0   at   0   0   0  0   0  0  0  0  0  0
1   av   0   0   0  0   0  0  0  0  0  0
2    n   0   0   0  0   0  0  1  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4    n   0   0   0  0   0  0  1  0  0  0
5    e   0   0   0  0   0  0  0  0  0  1
6    e   0   0   0  0   0  0  0  0  0  1
7   as   1   0   0  0   0  0  0  0  0  0
8   as   1   0   0  0   0  0  0  0  0  0
9   aq   0   0   0  0   0  0  0  0  0  0
10   r   0   0   0  0   0  1  0  0  0  0
11   e   0   0   0  0   0  0  0  0  0  1
12  ai   0   0   1  0   0  0  0  0  0  0
13   e   0   0   0  0   0  0  0  0  0  1
14  as   1   0   0  0   0  0  0  0  0  0
15  ak   0   0   0  0   1  0  0  0  0  0
16   e   0   0   0  0   0  0  0  0  0  1
17  as   1   0   0  0   0  0  0  0  0  0
18   m   0   0   0  1   0  0  0  0  0  0
19  ak   0   0   0  0   1  0  0  0  0  0
20   m   0   0   0  1   0  0  0  0  0  0
21  as   1   0   0  0   0  0  0  0  0  0
22   a   0   0   0  0   0  0  0  0  0  0
23   m   0   0   0  1   0  0  0  0  0  0
24  ak   0   0   0  0   1  0  0  0  0  0
25   m   0   0   0  1   0  0  0  0  0  0
26  as   1   0   0  0   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28  as   1   0   0  0   0  0  0  0  0  0
29   m   0   0   0  1   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32   m   0   0   0  1   0  0  0  0  0  0
33  as   1   0   0  0   0  0  0  0  0  0
34  as   1   0   0  0   0  0  0  0  0  0
35  ai   0   0   1  0   0  0  0  0  0  0
36  as   1   0   0  0   0  0  0  0  0  0
37   k   0   0   0  0   0  0  0  0  0  0
38  as   1   0   0  0   0  0  0  0  0  0
39  as   1   0   0  0   0  0  0  0  0  0

In [29]:
def one_hot_top_x(df,variable,top_x_labels):
    #this function will create dummy variables for  most frequent labels
    #we can  vary the number of the most frequent labels that we encode
    
    for label in top_x_labels:
        df[variable+' '+label]= np.where(data[variable]==label,1,0)
        
#read the data again
data=pd.read_csv('Mercedes.csv',usecols=['X1','X2','X3','X4','X5','X6'])

#encode x2 into the 10 most frequent categories
one_hot_top_x(data,'X2',top_10)
data.head()

,X1,X2,X3,X4,X5,X6,X2 as,X2 ae,X2 ai,X2 m,X2 ak,X2 r,X2 n,X2 s,X2 f,X2 e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0

In [31]:
top_10=[x for x in data.X1.value_counts().sort_values(ascending= False).head(10).index]
#encode x2 into the 10 most frequent categories
one_hot_top_x(data,'X1',top_10)
data.head()

,X1,X2,X3,X4,X5,X6,X2 as,X2 ae,X2 ai,X2 m,...,X1 aa,X1 s,X1 b,X1 l,X1 v,X1 r,X1 i,X1 a,X1 c,X1 o
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0